# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# === Maven ===
/target/
# Diretório onde o Maven coloca os builds (binários, relatórios, etc)
!.mvn/wrapper/maven-wrapper.jar  
# Ignora tudo em .mvn exceto esse arquivo necessário pro wrapper
.mvn/timing.properties
.settings/
dependency-reduced-pom.xml
buildNumber.properties
